@font-face {
    font-family: "Playfair Display Black";
    src: url("../fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Regular.ttf");
}

.article_header {
    margin: 80px 50px 40px 110px;
}

.article_header h2
{
    font-family: "Playfair Display Black";
    font-style: italic;
    font-size: 50px;
    margin: 0 0 5px 0;
    width: 60vw;
    
}

.subtitle 
{
    margin: 0 0 0 70px;
}

h3 
{
    font-family: "Work Sans";
    font-style: italic;
    font-size: 23px;
    margin: 3px;
}

.sidebar {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 240px;
    height: 350px;
    width: 25vw;
    border-left: 4px solid black;
    content: "";
}

.sidebar h4 {
    font-family: 'Work Sans';
    font-style: italic;
    font-size: 20px;
    margin: 10px 0 10px 40px;
}

.sidebar img 
{
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 170px;
    margin: 5px 0 10px 0;
}

.content 
{
    font-size: 23px;
    overflow-wrap: break-word;
    margin: 0 0 0 100px;
    width: 60vw;
}

.content a 
{
    color: #D9C177;
    text-decoration: none;
}

.content img 
{
    margin:auto;
    width: 700px;
}

.image
{
    text-align:center;
}

.image p
{
    margin: 40px auto 10px auto;
    font-size: 20px;
}

.words {
    font-family: "Work Sans";
}

.bold 
{
    font-weight: bold;
}

.italic
{
    font-style:italic;
}

.tab {
    margin: 20px;
}

#back-link {
    margin: 0 100px 100px 100px;
    padding: 50px;
    color: #D9C177;
    font-style: none;
}

.citations
{

}

img 
{
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}


