@font-face {
    font-family: "Playfair Display Black";
    src: url("../fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Medium.ttf");
}

h1 
{
    margin: 70px 0 10px 40px;
    font-family: "Playfair Display Black";
    font-size: 30px;
    font-style: italic;
}

/*TODO: make columns smaller
.flex-grid 
{
    display: flex;
    margin: 15px 0 0 60px;
    left: 100px;
    grid-gap: 0;
}

.col 
{
    align-content: center;
    flex: 1;
    margin: 20px;

}

.flex-grid .col img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 0 30px 0;

}
*/

/*TODO: add mouseover animation*/


#articles_title
{
    font-size: 50px;
} 

.article_headers
{
    padding: 0 80px 80px 80px;
    margin: 80px;
}

.article_headers a 
{
    text-decoration: none;
}

.article_headers h1
{
    font-family: "Work Sans";
    font-weight: 300;
    color: black;
    margin: 15px 0 15px 35px;
    padding: 0;
    width: 80vw;
    transition: all 0.1s ease-in;
}

.article_headers h1:hover
{
    color: #D9C177;
    margin: 5px 0 5px 100px;
    

    transition: all 0.2s ease-in;
}

.article_headers
{
    margin: 50px;
}

@media screen and (max-width: 600px) {
    .flex-grid 
    {
        display: block;
    }
}
