@font-face {
    font-family: "Work Sans Medium Italic";
    src: url("../fonts/WorkSans-MediumItalic.ttf");
}

body 
{
    overflow-x: hidden;
    margin: 0;
    font-family: "Work Sans Medium Italic"; 
}

nav {
    background-color: black;
    text-align: center;
    width: 100vw;
    transition: all 0.1s ease-in;
}

nav ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 5vw; /*use to change height*/
}

nav li 
{
    list-style-type: none;
}

nav a 
{
    text-decoration: none;
    font-size: 25px;
    color: #D9C177;
    padding: 20px 5vw; /*use to change width*/
    transition: all 0.1s ease-in;
}

nav a:hover 
{
    color: white;
    transition: all 0.1s ease-in;
}

.sticky {
    position: fixed;
    top: 0;
    transition: all 0.1s ease-in;
}

    #logo 
{
    margin: 5px 0 15px 15px;
    width:20vw;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: -80px;
    cursor: pointer;
    height: 70px;
    width: 70px;
    background-color: black;

    transition: all 0.1s ease-in-out;
}

.arrow {
    z-index: 2;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    width: 20px;
    height: 20px;
    margin: 27px auto;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        font-size: 15px;
        display: block;
    }
}

